<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDa99go7ZGh7JWj0bGgloeFkP_lcwgO794</string>
	<key>GCM_SENDER_ID</key>
	<string>429883198452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petpal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>petpalhealth</string>
	<key>STORAGE_BUCKET</key>
	<string>petpalhealth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429883198452:ios:4d6a46b1371628e513c7a1</string>
</dict>
</plist>